<template>
  <section class="searchbar">
    <b-container fluid>
      <b-input-group class="position-relative">
        <b-form-input
          v-model="searchText"
          class="w-100"
          placeholder="Search Queue Number, Mobile Number or Name"
          @keyup="filterQueue"
        ></b-form-input>

        <b-input-group-append class="searchbar__icon">
          <span class="d-flex align-items-center">
            <i class="fa fa-search"></i>
          </span>
        </b-input-group-append>
      </b-input-group>
    </b-container>
  </section>
</template>

<script>
export default {
  name: "PageSearchbar",
  data() {
    return {
      searchText: ''
    }
  },
  computed: {
    getPageQueueOngoing() {
      return this.$parent.$refs['pageQueue'].$refs['pageQueueOngoing']
    },
    getCurrentQueue() {
      return this.getPageQueueOngoing.queue;
    }
  },
  methods: {
    filterQueue() {
      const currentQueue = this.getCurrentQueue;
      const _this = this;
      const filteredResults = currentQueue.filter((el) => {
        return el.customerInfo.name.toUpperCase().indexOf(_this.searchText.toUpperCase()) > -1 ||
          el.customerInfo.contact.toUpperCase().indexOf(_this.searchText.toUpperCase()) > -1 ||
          el.number.toUpperCase().indexOf(_this.searchText.toUpperCase()) > -1
      });
      this.getPageQueueOngoing.filteredQueue = filteredResults;
    }
  }
}
</script>

<style lang="scss" scoped>
  @import 'bootstrap/scss/bootstrap.scss';

  .searchbar {
    margin-bottom: 20px;
    padding: 0 25px;

    &__icon {
      background: white;
      color: $secondary;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 11;
    }
  }
</style>