<template>
  <section class="page-queue">
    <b-container fluid>
      <b-row>
        <b-col lg="8">
          <page-queue-ongoing ref="pageQueueOngoing"></page-queue-ongoing>
        </b-col>
        <b-col lg="4">
          <page-current-serving ref="pageCurrentServing"></page-current-serving>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import PageQueueOngoing from "@/components/PageQueueOngoing.vue";
import PageCurrentServing from "@/components/PageCurrentServing.vue";

export default {
  name: "PageQueue",
  components: {PageCurrentServing, PageQueueOngoing}
}
</script>

<style lang="scss" scoped>
  .page-queue {
    background-color: #f9fafd;
    padding: 0 25px;
  }
</style>