<template>
  <section class="page-actions">
    <b-container class="page-actions__container" fluid>
      <b-row class="align-items-center">
        <b-col lg="3">
          <div class="page-action-labels">
            <span class="page-action-labels__transaction-step">{{ pageActionLabels.transactionStep }}</span>
            <h6 class="page-action-labels__merchant-vendor"> {{ pageActionLabels.merchantVendor }} </h6>
            <span class="page-action-labels__serving-type">
              {{ pageActionLabels.servingType }} <i class="fa fa-info-circle text-secondary pl-1"></i>
            </span>
          </div>
        </b-col>

        <b-col class="text-right" lg="9">
          <div class="page-action-buttons">
            <b-button variant="outline-primary">Queue Group Details</b-button>
            <b-button variant="outline-primary"><span class="pr-2"><i class="far fa-clock"></i></span>Queue History</b-button>
            <b-button v-b-modal.addModal class="text-white shadow-lg" variant="primary">
              <span class="pr-2"><i class="far fa-plus"></i></span>Add Queue
            </b-button>
          </div>
        </b-col>
      </b-row>

      <b-modal
        id="addModal"
        hide-footer
        modal-class="modal-fullscreen1"
      >
        <div class="custom-modal">
          <div class="custom-modal__head">
            <h6 class="custom-modal__title">Add Queue</h6>
            <span class="custom-modal__subtitle">Fill-up fields with the customer’s data</span>
          </div>

          <div class="custom-modal__body">
            <b-container>
              <div class="text-left">
                <label class="custom-modal__label">Customer Details</label>
              </div>

              <b-row>
                <b-col class="mb-3">
                  <b-input-group prepend="Mobile Number" size="lg">
                    <b-form-input v-model="addQueueDetails.contact" placeholder="(+63) 900-000-0000"></b-form-input>
                  </b-input-group>
                </b-col>
                <b-col class="mb-3">
                  <b-input-group prepend="How many people" size="lg">
                    <b-form-input v-model="addQueueDetails.heads" min="1" readonly type="number"></b-form-input>

                    <template #append>
                      <b-button variant="success" @click="updateHeads(1)"><i class="fa fa-plus"></i></b-button>
                      <b-button variant="danger" @click="updateHeads(-1)"><i class="fa fa-minus"></i></b-button>
                    </template>
                  </b-input-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col class="mb-3">

                  <b-form-input v-model="addQueueDetails.name" placeholder="Name (Optional)" size="lg"></b-form-input>
                </b-col>
              </b-row>

              <div class="custom-modal__queue-priority">
                <div class="custom-modal__queue-priority-labels">
                  <label>Is this queue a priority? (ex. PWD, Senior Citizen, etc.)</label>
                  <span>If ON, this customer will be at the top of the queue. Will be tagged as “Walk-in Prio”</span>
                </div>

                <div class="d-flex align-items-center">
                  <input id="checkbox2" v-model="addQueueDetails.isPriority" class="checkbox" type="checkbox" />
                  <label class="switch" for="checkbox2">
                    <span class="switch__circle">
                      <span class="switch__circle-inner"></span>
                    </span>
                    <span class="switch__right">On</span>
                    <span class="switch__left">Off</span>
                  </label>
                </div>
              </div>

              <div class="custom-modal__queue-submit">
                <b-button class="custom-modal__submit" variant="primary" @click="submitQueue">Submit</b-button>
              </div>
            </b-container>
          </div>
        </div>
      </b-modal>
    </b-container>
  </section>
</template>

<script>
import moment from "moment/moment";

export default {
  name: "PageActions",
  data() {
    return {
      pageActionLabels: {
        transactionStep: 'Payment',
        merchantVendor: 'Cashier 4',
        servingType: 'Single Serving'
      },
      addQueueDetails: {
        contact: '',
        heads: 1,
        name: '',
        isPriority: false
      }
    }
  },
  computed: {
    getPageQueueOngoing() {
      return this.$parent.$refs['pageQueue'].$refs['pageQueueOngoing'];
    }
  },
  methods: {
    updateHeads(count) {
      count = this.addQueueDetails.heads + count;
      if (count < 1) {
        return this.addQueueDetails.heads = 1;
      }
      this.addQueueDetails.heads = count
    },
    submitQueue() {
      if (this.addQueueDetails.contact && this.addQueueDetails.heads) {
        this.getPageQueueOngoing.queue.unshift({
          number: 'A0' + Math.floor(Math.random() * (99 - 20) + 20),
          queueType: this.addQueueDetails.isPriority ? 1 : 2,
          customerInfo: {
            name: this.addQueueDetails.name,
            contact: this.addQueueDetails.contact,
            heads: this.addQueueDetails.heads
          },
          queueTime: moment(new Date).format('X'),
          queueServe: null,
          isServed: false,
        });
        this.$bvModal.hide('addModal');
        return;
      }
      alert('Please complete required details');
    }
  }
}
</script>

<style lang="scss" scoped>
  .page-actions {
    background: #ffffff;
    margin-bottom: 30px;

    &__container {
      padding: 16px 40px 19px;
    }
  }

  .page-action-labels {
    span {
      color: #74728F;
      font-size: 12px;
    }

    &__merchant-vendor {
      color: #191444;
      font-size: 26px;
      font-weight: bold;
      line-height: 33px;
      margin: 0;
    }
  }

  .page-action-buttons {
    button {
      font-weight: 600;
      margin-left: 16px;
    }
  }
</style>

<style lang="scss">
  @import '../config.bootstrap';

  .modal-fullscreen1 .modal {
    padding: 0 !important;
  }

  .modal-fullscreen1 .modal-dialog {
    height: 100%;
    margin: 0;
    max-width: 100%;
  }

  .modal-fullscreen1 .modal-content {
    border: 0;
    border-radius: 0;
    height: auto;
    min-height: 100%;
  }

  .modal-header {
    border: 0 !important;
  }

  .custom-modal {
    margin: 0 auto;
    max-width: 768px;

    &__title {
      color: #191444;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      text-align: center;
    }

    &__subtitle {
      color: #74728F;
      display: block;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 50px;
      text-align: center;
    }

    &__label {
      color: #A3A1B5;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: left;
      text-transform: uppercase;
    }

    &__queue-priority {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &__queue-priority-labels {
      label {
        color: #191444;
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
      }

      span {
        color: #74728F;
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }

    &__queue-submit {
      text-align: center;

      button {
        background: linear-gradient(0deg, #FE7401 0%, #FE8F02 100%);
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba(254, 143, 2, 0.5), 0px 2px 2px rgba(254, 143, 2, 0.25);
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        padding: 1rem 69px;
      }
    }

    .checkbox {
      display: none;
    }

    .switch {
      align-items: center;
      background: #D1D0DA;
      border-radius: 5px;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.06);
      cursor: pointer;
      display: flex;
      height: 26px;
      justify-content: space-between;
      margin-bottom: 0;
      padding: 0 6px;
      position: relative;
      user-select: none;
      width: 55px;
    }

    .checkbox:checked ~ .switch {
      background-color: $primary;
    }

    .checkbox:not(:checked) ~ .switch {
      background-color: #D1D0DA;
    }

    .switch__left,
    .switch__right {
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .switch__left {
      position: absolute;
      right: 10px;
    }

    .switch__right {
      left: 12px;
      position: absolute;
    }

    .checkbox:checked ~ .switch .switch__left {
      visibility: hidden;
    }

    .checkbox:not(:checked) ~ .switch .switch__right {
      visibility: hidden;
    }

    .switch__circle {
      height: 26px;
      position: absolute;
      transition: all 0.1s linear;
      width: 10px;
    }

    .checkbox:checked ~ .switch .switch__circle {
      left: calc(100% - 10px);
      right: 0;
    }

    .checkbox:not(:checked) ~ .switch .switch__circle {
      left: 0;
      right: calc(100% - 10px);
    }

    .switch__circle-inner {
      background-color: white;
      border-radius: 4px;
      box-shadow: 0px 0px 4px rgba(64, 107, 194, 0.24), 0px 0px 8px rgba(64, 107, 194, 0.06);
      display: block;
      height: 100%;
      width: 100%;
    }
  }
</style>