<template>
  <b-container fluid>
    <div class="breadcrumb__container">
      <b-breadcrumb :items="items"></b-breadcrumb>
    </div>
  </b-container>
</template>

<script>
export default {
  name: "PageBreadcrumb",
  data() {
    return {
      items: [
        {
          text: 'Queue Management',
          href: '#',
        },
        {
          text: 'Cashier 3',
          href: '#',
          active: true
        },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../config.bootstrap';
@import 'bootstrap/scss/bootstrap.scss';

.breadcrumb {
  background: transparent;
  margin-bottom: 11px;
  margin-top: 0;
  padding: 0;

  &__container {
    padding: 0 25px;
  }
}

.breadcrumb-item {
  &.active {
    color: #6C757D;
  }

  a {
    color: $primary !important;
  }
}

.breadcrumb-item + .breadcrumb-item:before {
  color: #A3A1B5;
  content: ">";
  font-weight: bold;
}
</style>