<template>
  <div>
    <section-header></section-header>
    <section-body></section-body>
  </div>
</template>

<script>

import SectionHeader from "@/components/SectionHeader";
import SectionBody from "@/components/SectionBody";

export default {
  name: "PageLayout",
  components: {
    SectionBody,
    SectionHeader
  }
}
</script>

<style scoped>
</style>