<template>
  <section class="page-current-serving">
    <div class="page-current-serving__header">
      <h6>CURRENT SERVING</h6>
      <span>Customer Queries that are called and served</span>
    </div>
    <div class="page-current-serving__sub-header">
      <i class="fa fa-info-circle text-secondary pr-3"></i>Finish serving a queue before you can serve another one
    </div>
    <div class="page-current-serving__queue-card-container">
      <div v-if="queueDetails.number" class="page-current-serving__queue-card">
        <div class="page-current-serving__queue-card-head">
          <label>QUEUE NUMBER</label>
          <h6 class="page-current-serving__queue-card-number">{{ queueDetails.number }}</h6>
          <b-button disabled size="sm" type="button" variant="outline-secondary">
            {{ getQueueType(queueDetails.type) }}
          </b-button>
        </div>

        <div class="page-current-serving__queue-card-details">
          <div class="d-flex justify-content-between">
            <label>Customer Name:</label>
            <span>{{ queueDetails.customerInfo.name }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <label>Mobile Number</label>
            <span>{{ queueDetails.customerInfo.contact }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <label>Number of People</label>
            <span>{{ getQueueHeads(queueDetails.customerInfo.heads) }}</span>
          </div>
          <div class="page-current-serving__queue-card-divider"></div>
          <div class="d-flex justify-content-between">
            <label>Time Queued</label>
            <span>{{ formatDate(queueDetails.timeQueued) }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <label>Time Served</label>
            <span>{{ formatDate(queueDetails.timeServed) }}</span>
          </div>
        </div>

        <div class="page-current-serving__queue-card-actions">
          <b-button class="mr-2" variant="outline-secondary">
            <i class="fa fa-ellipsis-v"></i>
          </b-button>
          <b-button class="mr-2" variant="outline-secondary">
            <i class="fa fa-volume-up pr-2"></i> NOTIFY
          </b-button>
          <b-button variant="outline-success" @click="finishCurrentQueueService(queueDetails.number)">
            <i class="fa fa-check pr-2"></i> DONE
          </b-button>
        </div>
      </div>
      <div v-else class="page-current-serving__queue-card">
        <div class="py-5 text-center">
          Currently, not serving anything. <br/> Please choose from On-going Queue
        </div>
      </div>
    </div>
    <div class="page-current-serving__auto-serve">
      <div class="page-current-serving__auto-serve-labels">
        <label>Auto-serve next queue?</label>
        <span>Next queue to be serve: {{ this.getNextItemToServe }}</span>
      </div>

      <div class="d-flex align-items-center">
        <input id="checkbox" class="checkbox" type="checkbox" />
        <label class="switch" for="checkbox">
          <span class="switch__circle">
            <span class="switch__circle-inner"></span>
          </span>
          <span class="switch__right">On</span>
          <span class="switch__left">Off</span>
        </label>
      </div>
    </div>
  </section>
</template>

<script>
const moment = require('moment');

export default {
  name: "PageCurrentServing",
  data() {
    return {
      queueDetails: {
        number: null,
        type: null,
        customerInfo: {
          name: null,
          contact: null,
          heads: null
        },
        timeQueued: null,
        timeServed: null
      },
      checked: false
    }
  },
  computed: {
    getPageQueueOngoing() {
      return this.$parent.$refs['pageQueueOngoing']
    },
    getNextItemToServe() {
      const queue = this.getPageQueueOngoing.queue;
      return queue.length > 0 ? queue[0].number : null;
    }
  },
  methods: {
    finishCurrentQueueService(queueNumber) {
      this.getPageQueueOngoing.queue = this.getPageQueueOngoing.queue.filter((el) => el.number !== queueNumber);
      this.resetQueueDetails();
      this.getPageQueueOngoing.checkCurrentServing();
    },
    resetQueueDetails() {
      this.queueDetails = {
        number: null,
        type: null,
        customerInfo: {
          name: null,
          contact: null,
          heads: null
        },
        timeQueued: null,
        timeServed: null
      }
    },
    formatDate(dateTimestamp) {
      return moment.unix(dateTimestamp).format('hh:mm A');
    },
    getQueueType(type) {
      switch (type) {
        case 1:
          return 'Walk-in / Prio';
        case 2:
          return 'Walk-in';
        case 3:
          return 'Online';
      }
    },
    getQueueHeads(heads) {
      return heads > 1 ? heads + ' people' : heads + ' person';
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../config.bootstrap';
@import 'bootstrap/scss/bootstrap.scss';

.page-current-serving {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0px #406BC20F;
  height: 100%;
  position: relative;

  &__header {
    padding: 20px 1rem 15px;

    h6 {
      color: #74728F;
      font-weight: bold;
      margin-bottom: 0;
    }

    span {
      color: #74728F;
    }
  }

  &__sub-header {
    border-bottom: 2px solid #F3F6FC;
    border-top: 2px solid #F3F6FC;
    color: #74728F;
    margin-bottom: 0px;
    padding: 0.5rem 1rem;
  }

  &__queue-card-container {
    background-color: #F9FAFD;
    min-height: calc(100% - 179px);
    padding: 1.5rem;
  }

  &__queue-card {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(64, 107, 194, 0.1), 0px 2px 8px rgba(64, 107, 194, 0.06);
    padding: 1.5rem;
  }

  &__queue-card-head {
    margin-bottom: 20px;
    text-align: center;

    label {
      color: #A3A1B5;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 0;
    }

    h6 {
      color: #191444;
      font-size: 40px;
      font-weight: bold;
      line-height: 50px;
      margin-bottom: 0;
    }

    .btn {
      font-size: 12px;
    }
  }

  &__queue-card-details {
    margin-bottom: 20px;

    label, span {
      margin-bottom: 10px;
    }

    label {
      color: #74728F;
    }

    div {
      color: #191444;
    }
  }

  &__queue-card-divider {
    border-top: 2px solid #F3F6FC;
    margin: 1.5rem 0;
  }

  &__queue-card-actions {
    display: flex;
    justify-content: center;

    .btn {
      font-size: 16px;
      font-weight: bold;
      padding: 1rem 1.5rem;
    }
  }

  &__auto-serve {
    border-top: 2px solid #F3F6FC;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px 19px 18px;
    position: absolute;
    width: 100%;
  }

  &__auto-serve-labels {
    label {
      color: #191444;
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
    }

    span {
      color: #74728F;
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }
  }

  .checkbox {
    display: none;
  }

  .switch {
    align-items: center;
    background: #D1D0DA;
    border-radius: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    display: flex;
    height: 26px;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0 6px;
    position: relative;
    user-select: none;
    width: 55px;
  }

  .checkbox:checked ~ .switch {
    background-color: $primary;
  }

  .checkbox:not(:checked) ~ .switch {
    background-color: #D1D0DA;
  }

  .switch__left,
  .switch__right {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .switch__left {
    position: absolute;
    right: 10px;
  }

  .switch__right {
    left: 12px;
    position: absolute;
  }

  .checkbox:checked ~ .switch .switch__left {
    visibility: hidden;
  }

  .checkbox:not(:checked) ~ .switch .switch__right {
    visibility: hidden;
  }

  .switch__circle {
    height: 26px;
    position: absolute;
    transition: all 0.1s linear;
    width: 10px;
  }

  .checkbox:checked ~ .switch .switch__circle {
    left: calc(100% - 10px);
    right: 0;
  }

  .checkbox:not(:checked) ~ .switch .switch__circle {
    left: 0;
    right: calc(100% - 10px);
  }

  .switch__circle-inner {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(64, 107, 194, 0.24), 0px 0px 8px rgba(64, 107, 194, 0.06);
    display: block;
    height: 100%;
    width: 100%;
  }
}
</style>