<template>
  <section class="page-queue-ongoing">
    <div class="page-queue-ongoing__header">
      <h6>ON-GOING QUEUE</h6>
      <span>List of all on-going customer queues</span>
    </div>

    <div class="table__wrapper">
      <table class="table">
        <thead class="queue-list-item__head">
          <tr>
            <th scope="row"></th>
            <th class="text-center" scope="col">Queue Number</th>
            <th scope="col">Customer Info</th>
            <th class="text-center" scope="col">Type / Time Queued</th>
            <th class="text-center" scope="col">Options</th>
            <th class="text-center" scope="col">Serve</th>
          </tr>
        </thead>
        <tbody v-if="filteredQueue.length > 0" class="queue-list-item__body">
          <tr v-for="(item, index) in filteredQueue" :key="item.number" class="queue-list-item__row">
            <fragment v-if="!item.isServed">
              <th scope="row">
                <div class="queue-list-item__grip">
                  <i class="fa fa-grip-vertical"></i>
                </div>
              </th>
              <td class="text-center" data-header="Queue Number">
                <div class="queue-list-item__queue-number">
                  <h6>{{ item.number }}</h6>
                </div>
              </td>
              <td data-header="Customer Info">
                <div class="queue-list-item__customer-info">
                  <div>
                    <i class="fa fa-user"></i>
                    <span>{{ item.customerInfo.name || 'Anonymous' }}</span>
                  </div>
                  <div>
                    <i class="fa fa-mobile-alt"></i>
                    <span>{{ item.customerInfo.contact }}</span>
                  </div>
                  <div>
                    <i class="fa fa-user-group"></i>
                    <span>{{ getQueueHeads(item.customerInfo.heads) }}</span>
                  </div>
                </div>
              </td>
              <td data-header="Type / Time Queued">
                <div class="queue-list-item__queue-type">
                  <div>
                    <b-button size="sm" variant="outline-secondary">{{ getQueueType(item.queueType) }}</b-button>
                  </div>
                  <label>{{ formatDate(item.queueTime) }}</label>
                </div>

              </td>
              <td class="text-center" data-header="Options">
                <b-dropdown id="dropdown-dropleft" class="m-2" dropleft no-caret variant="outline-secondary">
                  <template #button-content>
                    <i class="fa fa-ellipsis-v"></i>
                  </template>
                  <b-dropdown-item>Send SMS Notification</b-dropdown-item>
                  <b-dropdown-item>Edit Queue</b-dropdown-item>
                  <b-dropdown-item @click="removeQueue(index)">
                    <span class="text-danger">Remove Queue</span>
                  </b-dropdown-item>
                </b-dropdown>
              </td>
              <td class="text-center" data-header="Serve">
                <b-button :disabled="isServingQueue" variant="outline-secondary" @click="serveQueue(item, index)">
                  <i class="fa fa-arrow-right"></i>
                </b-button>
              </td>
            </fragment>
          </tr>
        </tbody>
        <tbody v-else class="queue-list-item__body">
          <tr>
            <td colspan="6"><div class="p-4 text-center">No Results!</div></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="page-queue-ongoing__total">
      <label class="total-ongoing-queues__label" for="total-ongoing-queues">Total on-going queues</label>
      <span>{{ getTotalQueues }} </span>
    </div>
  </section>
</template>

<script>
const moment = require('moment');
export default {
  name: "PageQueueOngoing",
  data() {
    return {
      filteredQueue: [],
      isServingQueue: false,
      queue: [
        {
          number: 'A004',
          customerInfo: {
            name: 'William Olarte',
            contact: '(+63) 917-198-2903',
            heads: 3
          },
          isServed: true,
          queueType: 2,
          queueTime: 1678665602,
          queueServe: 1678666588
        },
        {
          number: 'A013',
          customerInfo: {
            name: 'John Esteban',
            contact: '(+63) 910-238-6478',
            heads: 2
          },
          isServed: false,
          queueType: 1,
          queueTime: 1678682462,
          queueServe: null
        },
        {
          number: 'A014',
          customerInfo: {
            name: 'Marina Murillo',
            contact: '(+63) 910-238-6478',
            heads: 2
          },
          isServed: false,
          queueType: 1,
          queueTime: 1678682462,
          queueServe: null
        },
        {
          number: 'A015',
          customerInfo: {
            name: 'Olivia Arribas',
            contact: '(+63) 910-238-6478',
            heads: 2
          },
          isServed: false,
          queueType: 2,
          queueTime: 1678682462,
          queueServe: null
        },
        {
          number: 'A016',
          customerInfo: {
            name: 'Jose Bravo',
            contact: '(+63) 910-238-6478',
            heads: 1
          },
          isServed: false,
          queueType: 3,
          queueTime: 1678682462,
          queueServe: null
        },
        {
          number: 'A017',
          customerInfo: {
            name: 'Marina Murillo',
            contact: '(+63) 910-238-6478',
            heads: 2
          },
          isServed: false,
          queueType: 3,
          queueTime: 1678682462,
          queueServe: null
        },
        {
          number: 'A018',
          customerInfo: {
            name: 'Olivia Arribas',
            contact: '(+63) 910-238-6478',
            heads: 2
          },
          isServed: false,
          queueType: 3,
          queueTime: 1678682462,
          queueServe: null
        },
        {
          number: 'A019',
          customerInfo: {
            name: 'Jose Bravo',
            contact: '(+63) 910-238-6478',
            heads: 2
          },
          isServed: false,
          queueType: 3,
          queueTime: 1678682462,
          queueServe: null
        },
      ]
    }
  },
  computed: {
    getTotalQueues() {
      return this.filteredQueue.length > 1 ? this.filteredQueue.length + ' Queues' : this.filteredQueue.length + ' Queue'
    },
    getPageCurrentServing() {
      return this.$parent.$refs['pageCurrentServing']
    },
  },
  mounted() {
    this.checkCurrentServing();
  },
  methods: {
    removeQueue(index) {
      this.queue.splice(index, 1);
      this.checkCurrentServing();
    },
    serveQueue(item, index) {
      this.queue[index].isServed = true;
      this.getPageCurrentServing.queueDetails = {
        number: item.number,
        type: item.queueType,
        customerInfo: {
          name: item.customerInfo.name,
          contact: item.customerInfo.contact,
          heads: item.customerInfo.heads
        },
        timeQueued: item.queueTime,
        timeServed: moment(new Date).format('X')
      }
      this.checkCurrentServing();
    },
    checkCurrentServing() {
      const servingQueue = this.queue.filter((el) => el.isServed === true);
      this.isServingQueue = Boolean(servingQueue.length);
      if (servingQueue.length) {
        this.getPageCurrentServing.queueDetails = {
          number: servingQueue[0].number,
          type: servingQueue[0].queueType,
          customerInfo: {
            name: servingQueue[0].customerInfo.name,
            contact: servingQueue[0].customerInfo.contact,
            heads: servingQueue[0].customerInfo.heads
          },
          timeQueued: servingQueue[0].queueTime,
          timeServed: servingQueue[0].queueServe
        };
      }
      // this.queue = this.queue.filter((el) => el.isServed !== true);
      this.filteredQueue = this.queue;
    },
    formatDate(dateTimestamp) {
      return moment.unix(dateTimestamp).format('hh:mm A');
    },
    getQueueType(type) {
      switch (type) {
        case 1:
          return 'Walk-in / Prio';
        case 2:
          return 'Walk-in';
        case 3:
          return 'Online';
      }
    },
    getQueueHeads(heads) {
      return heads > 1 ? heads + ' people' : heads + ' person';
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../config.bootstrap';
  @import 'bootstrap/scss/bootstrap.scss';

  .page-queue-ongoing {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0px #406BC20F;

    &__header {
      padding: 20px 24px 15px;

      h6 {
        color: #74728F;
        font-weight: bold;
        margin-bottom: 0;
      }

      span {
        color: #74728F;
      }
    }

    &__list-table {
      padding: 0;
    }

    &__table-head {
      background-color: #ffffff;
      border-bottom: 2px solid #F3F6FC;
      border-top: 2px solid #F3F6FC;
    }

    &__total {
      background-color: #ffffff;
      border-top: 2px solid #F3F6FC;
      display: flex;
      justify-content: space-between;
      padding: 19px 24px;

      span {
        font-weight: bold;
      }
    }
  }

  .queue-list-item {
    list-style: none;

    &__head {
    }

    &__body {
      background-color: #f9fafd;
    }

    &__row {
      border: 0;
      border-radius: 6px;
      box-shadow: 0px 8px 12px rgba(64, 107, 194, 0.1), 0px 4px 12px rgba(64, 107, 194, 0.06);
    }

    &__grip {
      color: #D1D0DA;
      padding-left: 10px;
    }

    &__queue-number {
      position: relative;

      h6 {
        color: #191444;
        font-size: 26px;
        font-weight: bold;
      }
    }

    &__customer-info {
      div {
        margin-bottom: 6px;
      }

      i {
        color: #D1D0DA;
        margin-right: 10px;
        text-align: center;
        width: 20px;
      }
    }

    &__queue-type {
      text-align: center;

      label {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .table__wrapper {
    display: flex;
    min-height: 505px;
    width: 100%;

    .table {
      max-width: 100%;
      width: 100%;
    }

    .table {
      border: 1px solid #f0f0f0;
      border-collapse: collapse;
    }

    .table tr {
      background: #fff;
      border-bottom: 1px solid #f0f0f0;
      width: 100%;
    }

    .table thead tr {
      border-bottom: 2px solid #f0f0f0;
    }

    .table td,
    .table th {
      border: 0 !important;
      padding: 0.5rem 0;
    }

    .table th {
      text-align: left;
    }

    .table td,
    .table tr th {
      vertical-align: middle;
    }

    @media screen and (max-width: 991px) {
      .table {
        border-spacing: 0;
        margin: 0 auto;
        width: 100%;
      }
      .table thead {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      .table tbody,
      .table tr,
      .table th,
      .table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
      }
      .table tr td,
      .table tr th {
        border: 1px solid #EDF0F1;
        border-top: none;
        overflow: hidden;
        padding: 2em 1em;
        position: relative;
        vertical-align: middle;
        vertical-align: top;
        white-space: normal;
        width: 100%;
      }
      .table th[scope="row"] {
        background-color: #B3BFC6;
        display: block;
        margin: 0 auto;
        padding: .5em 0;
        text-align: center;
        width: 100%;
      }
      .table td[data-header]:before {
        color: #000000;
        content: attr(data-header);
        display: block;
        float: left;
        font-weight: bold;
        text-align: left;
        width: 50%;
      }
      .table td[data-header] > * {
        clear: right;
        display: block;
        float: right;
        margin-top: 0;
        padding-left: 1em;
        width: 50%;
      }
      .table td[data-header]:after {
        border-right: 1px solid #EDF0F1;
        content: "";
        display: block;
        left: 0;
        padding-bottom: 200%;
        position: absolute;
        top: 0;
        width: 50%;
      }
    }

    @media screen and (max-width: 600px) {
      .center {
        width: 100%;
      }
    }
  }
</style>