<template>
  <div class="header">
    <b-container fluid>
      <b-row class="header-main align-items-center">
        <a class="menu-icon" href="#">
          <i class="fa-solid fa-bars text-secondary"></i>
        </a>

        <b-col>
          <div class="merchant__container">
            <div class="merchant__logo">
              <img alt="" src="../assets/logo.png">
            </div>
            <div class="merchant__labels">
              <h5 class="merchant__name"> {{ merchant.name }} </h5>
              <span class="merchant__location"> {{ merchant.location }} </span>
            </div>
          </div>
        </b-col>

        <b-col class="text-right pr-lg-0">
          <a class="scan-code" href="#">
            <i class="fa fa-expand"></i>
          </a>
          <a class="notifications" href="#">
            <i class="far fa-bell"></i>
          </a>
          <a class="user-profile" href="#">
            <i class="fa fa-user-circle"></i>
          </a>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "SectionHeader",
  data() {
    return {
      merchant: {
        name: 'Burger King',
        location: 'Uptown Mall'
      }
    }
  }
}
</script>

<style
  lang="scss"
  scoped
>
.header {
  background-color: #ffffff;
  box-shadow: 0px 2px 12px 0px #406BC20F;
  box-shadow: 0px 2px 12px 0px #406BC21A;
  height: 88px;
  margin-bottom: 11px;
  padding: 0 40px;

}

.header-main {
  height: 88px;
}

.menu-icon i {
  font-size: 20px;
  left: 30px;
  position: absolute;
  top: 35px;
}

.merchant {
  &__container {
    padding-left: 15px;
  }

  &__logo {
    display: inline;
    margin-right: 16px;

    img {
      border-radius: 50%;
    }
  }

  &__labels {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
  }

  &__location {
    color: #74728F;
    font-size: 14px;
  }
}

.scan-code, .notifications {
  margin-right: 46px;
  vertical-align: super;

  i {
    color: #6C757D;
    font-size: 24px;
  }
}

.user-profile {
  i {
    font-size: 40px
  }
}
</style>