<template>
  <fragment>
    <page-breadcrumb></page-breadcrumb>
    <page-actions></page-actions>
    <page-searchbar></page-searchbar>
    <page-queue ref="pageQueue"></page-queue>
  </fragment>
</template>

<script>
import PageBreadcrumb from "@/components/PageBreadcrumb";
import PageActions from "@/components/PageActions.vue";
import PageSearchbar from "@/components/PageSearchbar.vue";
import PageQueue from "@/components/PageQueue.vue";

export default {
  name: "SectionBody",
  components: {PageQueue, PageSearchbar, PageActions, PageBreadcrumb}
}
</script>

<style scoped>
</style>