<template>
  <div id="app">
    <page-layout></page-layout>
  </div>
</template>

<script>
import PageLayout from "@/components/PageLayout.vue";

export default {
  name: 'App',
  components: {PageLayout},
}
</script>

<style>
</style>
