@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

body {
    background-color: #f7f9fc;
    padding-bottom: 150px;
}

::placeholder {
    color: #A3A1B5 !important;
}

::-webkit-input-placeholder {
    color: #A3A1B5
}

:-moz-placeholder {
    color: #A3A1B5
}

::-moz-placeholder {
    color: #A3A1B5
}

:-ms-input-placeholder {
    color: #A3A1B5
}